/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 768px (Tablet) */
/**************************/
@media (max-width: 48em) {
    html {
        font-size: 50%;
    }

    .main-content {
        width: 80%;
    }
}

/**************************/
/* BELOW 375px (Phones) */
/**************************/
@media (max-width: 23.4375em) {
    .img-omelette {
        display: block;
        padding: 0;
        border-radius: 0;
    }

    .main-content {
        width: 100%;
        margin: 0;
        padding: 0 0 2rem 0;
        border-radius: 0;
    }

    .margin-4 {
        margin: 4rem;
    }
}
